<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.charliesong.demo0327">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-sdk tools:overrideLibrary="com.cktim.camera2library"/>
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".base.MainActivity"
            android:allowEmbedded="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".assitservice.AccessActivity"
            android:description="@string/app_name"
            android:label="@string/access_activity_des" />
        <activity
            android:name=".rx.ActivityRx"
            android:label="@string/rx_learn_des" />
        <activity
            android:name=".kt.ActivityKotlinGrammar"
            android:label="@string/kotlin_learn_des" />
        <activity
            android:name=".custom.ActivityCustom"
            android:label="@string/widget_learn_des" />
        <activity
            android:name=".contact.ActivityContact"
            android:label="@string/item_decoration"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".manifest.ActivityManifestData"
            android:label="@string/manifest_about" />
        <activity
            android:name=".design.ActivityScorllTest"
            android:label="design库复习" />
        <activity
            android:name=".weather.ActivityWeather"
            android:label="仿三星天气" />
        <activity
            android:name=".words.ActivityWords"
            android:label="选择题" />
        <activity
            android:name=".city.ActivityCityPick"
            android:label="城市选择库"
            android:theme="@style/DefaultCityPickerTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pathanim.ActivityPathAnim"
            android:label="path动画[not complete]" />
        <activity
            android:name=".layoutmanager.ActivityLayoutManagerCustom"
            android:label="自定义layoutManager" />
        <activity
            android:name=".article.ArticleActivityList"
            android:label="底部上拉进入下一页layoutManager自定义 [not complete]"
            android:launchMode="singleTask" />
        <activity
            android:name=".article.ArticleActivityDetail"
            android:label="@string/app_name" />
        <activity
            android:name=".third.ActivityDoorSign"
            android:label="商店门口挂牌库" />
        <activity
            android:name=".classify.ActivityClassify"
            android:label="recyclerview居中显示库，以及自定义[not complete]"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".linkage.ActivityLinkageRecyeclerViews"
            android:label="2个recyclerview联动滚动" />
        <activity
            android:name=".brief.ActivityBriefSamsung"
            android:label="仿三星简报首页" />
        <activity
            android:name=".brief.ActivityFlipBoardSetting"
            android:label="仿三星简报设置页flip board" />
        <activity
            android:name=".layoutmanager.ActivitySimpleAnima"
            android:label="多个item首个消失，最后位置添加动画效果" />
        <activity
            android:name=".select.ActivityTextSelect"
            android:label="文本选择弹框自定义"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".anim.ActivityAnims"
            android:label="动画的种类，简单的" />
        <activity
            android:name=".navigation.ActivityNavigationTest"
            android:label="navigation学习" />
        <activity
            android:name=".work.ActivityWorkManage"
            android:label="work manage学习" />
        <activity
            android:name=".page.ActivityPaging"
            android:label="paging分页组件学习" />
        <activity
            android:name=".page.ActivityPagingFragments"
            android:label="paging分页组件，3种datasource学习" />
        <activity
            android:name=".room.ActivityRoomLearn"
            android:label="room组件学习【库加载失败，暂不研究】"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".livedata.ActivityLiveDataLearn"
            android:label="livedata简单测试，pw,webview缓存测试" />
        <activity
            android:name=".login.ActivityLLLL"
            android:label="登陆输入法改变做出的布局动画java写的"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".login.ActivityLogin"
            android:label="登陆输入法改变做出的布局动画kotlin"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".login.ActivityLogin2"
            android:label="登陆输入法改变做出的布局动画"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".behavior.ActivityBehaviorCustom"
            android:label="behavior自定义" />
        <activity
            android:name=".bottom.ActivityBottomSheet"
            android:label="bottom sheet 底部弹出学习"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".draghelper.ActivityDragHelper"
            android:label="viewdraghelper 学习" />
        <activity
            android:name=".java.JavaKnowledgeActivity"
            android:label="java notify解锁学习"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".nofity.ActivityNofity8"
            android:label="通知适配8.0"
            android:launchMode="singleTask" />

        <provider
            android:name=".base.FileProviderDif"
            android:authorities="com.charlie.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".navigation.DeepLinkAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deep_link_appwidget_info" />
        </receiver>

        <service
            android:name=".assitservice.AssistService"
            android:exported="true"
            android:label="@string/demo_access_server_name1"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>

        <activity
            android:name=".databind.ActivityDataBinding"
            android:label="databinding学习"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".camera.ActivityCapturePic"
            android:label="拍照带地点" />
        <activity
            android:name=".camera.ActivityCustomCamera"
            android:label="自定义拍照页面" />
        <activity
            android:name=".camera.ActivityCamera21"
            android:configChanges="orientation|keyboard|screenSize"
            android:label="camera2 学习 api21可用" />
        <activity
            android:name=".step.ActivityStep"
            android:label="samsung step show learn" />
        <activity
            android:name=".motion.ActivityConstraintAnim"
            android:label="MotionLayout学习" />
        <activity android:name=".rv.ActivityRV"
            android:label="RV的listAdapter学习"/>
    </application>

</manifest>