<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charliesong.demo0327">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".base.MyApplication"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">
        <activity android:name=".base.MainActivity"
            android:allowEmbedded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <service android:name=".assitservice.AssistService"
            android:label="@string/demo_access_server_name1"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config"/>
        </service>

        <activity android:name=".assitservice.AccessActivity"
            android:description="@string/app_name"
            android:label="@string/access_activity_des"/>
        <activity android:name=".rx.ActivityRx"
            android:label="@string/rx_learn_des"/>
        <activity android:name=".kt.ActivityKotlinGrammar"
            android:label="@string/kotlin_learn_des"/>
        <activity android:name=".custom.ActivityCustom"
            android:label="@string/widget_learn_des"/>
        <activity android:name=".contact.ActivityContact"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/item_decoration"/>
        <activity android:name=".manifest.ActivityManifestData"
            android:label="@string/manifest_about"/>
        <activity android:name=".design.ActivityScorllTest"
            android:label="design test"/>
        <activity android:name=".weather.ActivityWeather"
            android:label="weather"/>
        <activity android:name=".words.ActivityWords"
            android:label="insert word to right position [not complete]"/>
        <activity android:name=".city.ActivityCityPick"
            android:theme="@style/DefaultCityPickerTheme"
            android:label="city picker lib use"/>
        <activity android:name=".pathanim.ActivityPathAnim"
            android:label="path anim[nothing]"/>
        <activity android:name=".layoutmanager.ActivityLayoutManagerCustom"
            android:label="custom layout manager"/>
        <activity android:name=".article.ArticleActivityList"
            android:label="artile list [not complete]"/>
        <activity android:name=".article.ArticleActivityDetail"
            android:label="detail"/>
        <activity android:name=".third.ActivityDoorSign"
            android:label="door sign view test"/>
        <activity android:name=".classify.ActivityClassify"
            android:windowSoftInputMode="stateHidden"
            android:label="classify like launcher home app [not complete]"/>
        <activity android:name=".linkage.ActivityLinkageRecyeclerViews"
            android:label="linkage recyclerView [not complete]"/>
        <activity android:name=".brief.ActivityBriefSamsung"
            android:label="brief report like samsung app"/>
        <activity android:name=".brief.ActivityFlipBoardSetting"
            android:label="flip board setting "/>
        <activity android:name=".layoutmanager.ActivitySimpleAnima"
            android:label="simple anima for rv"/>
        <activity android:name=".select.ActivityTextSelect"
            android:windowSoftInputMode="stateHidden"
            android:label="text select actionbar"/>

        <activity android:name=".anim.ActivityAnims"
            android:label="动画的种类"/>
        <activity android:name=".navigation.ActivityNavigationTest"
            android:label="navigation learn"/>
        <activity android:name=".work.ActivityWorkManage"
            android:label="work manage learn"/>







        <receiver android:name=".navigation.DeepLinkAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deep_link_appwidget_info" />
        </receiver>

    </application>

</manifest>