<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charliesong.demo0327">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">
        <activity android:name=".MainActivity"
            android:allowEmbedded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".assitservice.AssistService"
            android:label="@string/demo_access_server_name1"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config"/>
        </service>

        <activity android:name=".assitservice.AccessActivity"
            android:description="@string/app_name"
            android:label="@string/access_activity_des"/>
        <activity android:name=".rx.ActivityRx"
            android:label="@string/rx_learn_des"/>
        <activity android:name=".kt.ActivityKotlinGrammar"
            android:label="@string/kotlin_learn_des"/>
        <activity android:name=".custom.ActivityCustom"
            android:label="@string/widget_learn_des"/>
        <activity android:name=".contact.ActivityContact"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/item_decoration"/>
        <activity android:name=".manifest.ActivityManifestData"
            android:label="@string/manifest_about"/>
    </application>

</manifest>